/* Existing hero */
.hero {
  width: 100%;
  min-height: 100vh;
  background: url('../../assets/IMG_8391.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  position: relative;
}
