.hero {
  width: 100%;
  height: 90vh;
  background: url('../../assets/IMG_8391.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-top: 200px;  
}

@media (max-width: 900px) {
  .hero {
    height: 120vh; /* full screen height on mobile */
    margin-bottom: 20px;
  }
}