.contact-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-top: 120px;
  transition: var(--default-transition);
}

.contact-container {
  width: 90%;
  max-width: 1250px;
}

.contact-header {
  margin-bottom: 24px;
  text-align: left;
}

.contact-title {
  font-size: 24px;
  font-weight: 800;
  color: var(--text-main);
  margin: 0;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 80px;
  align-items: start;
}

.contact-description {
  margin-bottom: 25px;
}

.contact-details-box {
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-left: 2px solid #e0e4e9;
  padding-left: 50px;
  margin-bottom: 50px;
}

.group-label {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #94a3b8;
  margin-bottom: 20px;
}

.contact-item {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 10px;
}

@media (max-width: 900px) {
  .contact-page {
    margin-top: 0px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    align-items: center;
  }

  .contact-grid {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .contact-title {
    font-size: 24px;
  }

  .contact-details-box {
    border-left: 0px;
    padding-left: 0px;
  }
}
