.home-box {
  display: flex;
  width: 900px;
  max-width: 90%;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  position: relative;
  overflow: hidden;
  color: #2d3748;
  background: var(--glass-bg);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 2px solid var(--border-color);
  border-radius: 20px;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.09);
  transition: var(--default-transition);
}

.home-box-left {
  flex: 1;
  position: relative;
  min-height: 500px;
}

.home-box-left img {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 300px;
  max-height: 400px;
  height: auto;
  border-radius: 10px;
}

.home-box-right {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-box-right h2 {
  margin-bottom: 15px;
}

.home-box-right p {
  line-height: 1.7;
  font-size: 17px;
  margin-bottom: 1.2rem;
}

@media (max-width: 900px) {
  .home-box {
    flex-direction: column;
    margin-top: 0px;
    align-items: left;
  }

  .home-box-left {
    min-height: 0;
  }

  .home-box-left img {
    position: static;
    display: block;
    max-width: 250px;
    padding-top: 20px;
    border-radius: 0px 0 0 0;
  }

  .horizontal-line {
    border: 2px solid var(--primary-blue);
  }
}
