.about-box {
  display: flex;
  width: 900px;
  max-width: 90%;
  background: rgba(243, 243, 243, 0.88);
  border-radius: 20px;
  box-shadow: 0 16px 50px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
  overflow: hidden;
  margin-top: 110px;
  position: relative;
  color: #2d3748;
}

.about-left {
  flex: 1;
  position: relative;
}

.about-left img {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 300px;
  max-height: 400px;
  height: auto;
  border-radius: 10px;
}

.about-right {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-right h2 {
  margin-bottom: 15px;
}

.about-right p {
  line-height: 1.5;
  font-size: 18px;
}

@media (max-width: 900px) {
  .about-box {
    flex-direction: column;
    width: 90%;
    margin-top: 30px;
    background: none;
  }

  .about-left {
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }

  .about-left img {
    position: static;
    display: block;
    max-width: 250px;
    height: auto;
  }

  .about-right {
    background: rgba(243, 243, 243, 0.88);
  }
}
