.about-box {
  display: flex;
  width: 1050px;
  max-width: 90%;
  background-color: rgba(15, 23, 42, 0.65);
  color: white;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.4);
  backdrop-filter: blur(6px);
  overflow: hidden;
  margin-top: 200px;

  transform: translateX(-150%);
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
}

.about-box.slide-in {
  transform: translateX(0);
  opacity: 1;
}

.about-left {
  flex: 1;
  display: flex;
  align-items: left;
  justify-content: left;
}

.about-left img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
}

.about-right {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-right h2 {
  margin-bottom: 15px;
}

.about-right p {
  line-height: 1.5;
  font-size: 18px;
}

@media (max-width: 900px) {
  .about-box {
    flex-direction: column;
    width: 90%;
    align-items: stretch;
    background: none;
    padding: 0;
    margin-top: 0px
  }

  .about-left {
    width: 100%;
    justify-content: flex-start;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }

  .about-left img {
    max-width: 250px;
    height: auto;
  }

  .about-right {
    width: 100%;
    background-color: rgba(15, 23, 42, 0.65);
    backdrop-filter: blur(6px);
  }
}
