.experience-page-wrapper {
  background-color: var(--primary-bg);
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 80px;
  transition: var(--default-transition);
}

.experience-container {
  width: 90%;
  max-width: 1250px;
}

.layout-desktop-only {
  display: grid;
  grid-template-columns: 1.7fr 1fr;
  gap: 80px;
  align-items: start;
  margin-bottom: 70px;
}

.layout-mobile-only {
  display: none;
}

.experience-role-title {
  font-size: 24px;
  font-weight: 800;
  color: var(--primary-blue);
  margin-bottom: 20px;
}

.experience-sidebar-info {
  padding-left: 40px;
  border-left: var(--border-thickness) solid var(--border-color);
}

.experience-company-logo {
  max-width: 60px;
  height: auto;
}

.sidebar-group h4 {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: var(--text-muted);
  margin: 35px 0 15px;
}

.date-location {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: var(--text-main);
  margin-top: 8px;
}

.meta-item {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 25px;
}

@media (max-width: 900px) {
  .layout-desktop-only {
    display: none;
  }

  .experience-page-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .layout-mobile-only {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .mobile-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
  }

  .mobile-logo {
    max-width: 60px;
    height: auto;
  }

  .mobile-company strong {
    font-size: 22px;
    color: var(--primary-blue);
    font-weight: 600;
  }

  .mobile-meta {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 15px;
  }

  .mobile-meta-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    color: var(--text-muted);
  }

  .mobile-role {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-main); 
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .experience-entry-grid:not(:last-child) .layout-mobile-only {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 50px;
    margin-bottom: 50px;
  }

  h4 {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: var(--text-muted);
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

.sidebar-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}

.detail-skill-tag {
  background-color: var(--muted-primary-blue);
  color: var(--primary-blue);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 600;
}
