.work-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 20px;
  color: white;
  text-align: left;
}

.work-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  max-width: 900px;
}

@media (max-width: 900px) {
  .work-page {
    padding: 30px 20px;
  }
}
