nav.container {
  width: 100%;
  min-height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 10%;
  background-color: var(--primary-blue);
  backdrop-filter: blur(6px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: var(--border-shadow);
}

nav ul {
  display: flex;
  gap: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 5px 15px;
  font-size: 19px;
  position: relative;
  transition: color 0.3s ease;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background: white;
  transition: width 0.3s ease;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

@media (max-width: 900px) {
  nav.container {
    position: relative;
    padding: 15px 20px;
    margin-bottom: 30px;
  }

  nav ul {
    flex-direction: column;
    gap: 18px;
    padding: 15px 0;
    align-items: center;
  }
}
