.project-grid {
  padding-top: 140px;
  padding-bottom: 80px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 50px;

  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: center;
  transition: var(--default-transition);
}

.project-card-link {
  background: var(--glass-bg);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 2px solid var(--border-color);
  border-radius: 20px;
  overflow: hidden;
  text-decoration: none !important;
  color: inherit;
  display: flex;
  flex-direction: column;
  height: 500px;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.09);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.project-card-link:hover {
  transform: translateY(-4px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.card-image-container {
  height: 60%;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid var(--border-color);
}

.card-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.project-card-link:hover .card-image-container img {
  transform: scale(1.03);
}

.card-text-content {
  height: 40%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
}

.card-project-title {
  font-size: 18px;
  font-weight: 800;
  color: var(--text-main);
  margin-bottom: 5px;
  line-height: 1.2;
}

.card-project-desc {
  font-size: 15px;
  color: #4a5568;
  line-height: 1.5;
  margin-bottom: 12px;
  overflow: hidden;
  line-clamp: 5;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-decoration: none !important;
}

.card-footer-link {
  font-size: 14px;
  font-weight: 700;
  color: rgb(92, 147, 206);
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: auto;
}

@media (max-width: 900px) {
  .project-grid {
    padding-top: 20px;
  }
}

@media (max-width: 400px) {
  .project-grid {
    width: 90%;
    grid-template-columns: 1fr;

    padding-left: 0px;
    padding-right: 0px;
  }
  .project-card-link {
    height: auto;
    min-height: 450px;
  }
}
