.footer {
  width: 100%;
  background-color: rgb(27, 47, 68);
  color: #fff;
  text-align: center;
  padding: 20px 10px 30px;
  margin-bottom: 0px;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}

.footer-links {
  display: flex;
  gap: 30px;
}

.footer-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.2s ease;
  border-bottom: 1px solid transparent;
  padding-bottom: 4px;
}

.footer-item:hover {
  transform: translateY(-4px);
  text-decoration-color: rgba(27, 47, 68, 0.8);
  border-bottom-color: #fff;
}

.footer-icon {
  font-size: 20px;
}

@media (max-width: 300px) {
  .footer-links {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
