@import url("https://fonts.googleapis.com/css2?family=Abel&family=DM+Serif+Text:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mallanna&family=Outfit:wght@100..900&family=TASA+Orbiter:wght@400..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  /* Primary accent blue */
  --primary-blue: rgb(27, 47, 68);
  --muted-primary-blue: rgb(27, 47, 68, 0.1);

  /* Primary background color */
  --primary-bg: #ffffff;

  /* Text colors and typography */
  --text-main: #1e293b;
  --text-muted: #64748b;
  --line-height-base: 1.7;
  --default-text-size: 17px;

  /* Border control */
  --border-color: rgba(226, 232, 240, 0.8);
  --border-thickness: 2px;
  --border-radius: 20px;
  --border-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.09);

  /* Box transitions */
  --default-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

html,
body {
  height: 100svh;
  width: 100%;
  scroll-behavior: smooth;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255) 100%,
    rgba(255, 255, 255) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  /* Enforce global styling */
  background-color: var(--primary-blue);
  color: var(--text-main);
  line-height: var(--line-height-base);
  font-size: var(--default-text-size);

}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  position: relative;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.global-link {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 10px;
  border-radius: 15px;
  color: var(--text-main);
  text-decoration: none;
  transition:
    background 0.3s ease,
    transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1),
    opacity 0.3s ease;
  backface-visibility: hidden;
  will-change: transform;
}

.global-link:hover {
  background: var(--muted-primary-blue);
  transform: translateX(6px);
  opacity: 1;
}

.global-paragraph-text {
  color: var(--text-main);
  line-height: var(--line-height-base);
  font-size: var(--default-text-size);
}

.left-icon {
  margin-right: 10px;
  font-size: 18px;
  color: var(--text-main)
}

.right-icon {
  margin-left: 5px;
  font-size: 13px;
  color: var(--text-muted)
}

@media (max-width: 900px) {
  .content-page {
    padding: 30px 20px;
    padding-bottom: 50px;
  }

  .projects-page {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .projects-toc {
    display: none;
  }
}
